::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkkhaki;
}
.main {
  display: flex;
  justify-content: space-evenly;
  /* padding: 1rem; */
}


.card {
  background-color: #a3c8d3;
}


h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  color: #333;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

.trash {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  align-items: center;
  justify-content: end;
  margin-right: 1rem;
  padding: 1rem;
  color: #333;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(106, 51, 194);
}
.email {
  font-weight: 500;
  font-size: 1rem;
  margin-left: 3rem;
  padding: 1rem;
  padding-top: 0;
}
span {
  display: flex;
  justify-content: end;

  color: #333;
}
nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  margin: 1rem;
  padding: 1rem;
}

@media screen and(max-width:700px)and (min-width:360) {
  html{
    font-size: 10px;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  
}